<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <h2>My Collection:</h2>

    </tr>
  </thead>
<tbody>
<% shoes.forEach(function(s) { %>
  <tr>
    <td> <a href="/shoes/<%=s._id%> "> <%= s.brand %> </a> </td>
  </tr>
  
<% }) %>
</tbody>  
</table>

<%- include('../partials/footer') %>













